.logo {
    
    position: absolute;
  top: 180px;
  left: 400px;

  }

  .buscador {
    
    position: absolute;
    top: 280px;
    left: 390px;

  }


  .botones {
    
    position: absolute;
    top: 320px;
    left: 385px;

  }

  
  #prueba {
    
    width: 300px;
    

  }


  #link-1 {
    
    position: absolute;
    top: 1px;
    left: 750px;
  }

  #link-2 {
    
    position: absolute;
    top: 550px;
    left: 810px;
  }

  #link-3 {
    
    position: absolute;
    top: 550px;
    left: 810px;
  }

  #link-4 {
    
    position: absolute;
    top: 550px;
    left: 810px;
  }

  #link-5 {
    
    position: absolute;
    top: 550px;
    left: 810px;
  }

  #link-6 {
    
    position: absolute;
    top: 550px;
    left: 810px;
  }

  #link-7 {
    
    position: absolute;
    top: 550px;
    left: 810px;
  }

  #link-8 {
    
    position: absolute;
    top: 550px;
    left: 810px;
  }

  #link-9 {
    
    position: absolute;
    top: 550px;
    left: 810px;
  }